{% extends 'back.html.twig' %}

{% block body %}
    <h3>Nouvelle utilisateur</h3>

    {{ form_start(form) }}
        <div class="form-group">
             {{ form_row(form.cin,{'attr':{'class': 'form-control'}})}}   
        </div>
        <div class="form-group">
             {{ form_row(form.nom,{'attr':{'class': 'form-control'}})}}   
        </div>
        <div class="form-group">
             {{ form_row(form.prenom,{'attr':{'class': 'form-control'}})}}   
        </div>
        <div class="form-group">
             {{ form_row(form.adresse,{'attr':{'class': 'form-control'}})}}   
        </div>
        <div class="form-group">
             {{ form_row(form.telephone,{'attr':{'class': 'form-control'}})}}   
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Enregistrer" />
        <a class="btn btn-outline-info" href="{{ path('admin_utilisateur_index') }}">Retour</a>
    {{ form_end(form) }}

{% endblock %}
 {% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="">Liste des utilisateurs</a></li>
        <li class="breadcrumb-item active">Nouvelle utilisateur</li>
    </ul>
{% endblock %}